{% extends 'core/product_management_temp.html' %} {% block extra_css %}
<style>
    /* Footer Section Styles */
    #footer {
        /* background-color: #222; */
        /* color: #fff; */
        padding: 60px 0 30px;
        font-size: 14px;
        margin-top: auto; /* Ensures the footer stays at the bottom */
    }

    /* Center main content vertically */
    #main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh; /* Ensures the content takes full screen height */
    }
</style>
{% endblock %} {% block content %}
<main id="main" class="py-5 content-center">
    <div class="container text-center">
        <h2 class="mb-4">Manage Products</h2>

        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <div class="d-grid gap-3">
                    <div class="row">
                        <div class="col-6">
                            <a href="/add_product" class="btn btn-success p-5">
                                Add Product
                            </a>
                        </div>
                        <div class="col-6">
                            <a
                                href="/update_products"
                                class="btn btn-warning p-5"
                            >
                                Update Product
                            </a>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <a href="/delete_product" class="btn btn-danger p-5">
                                Delete Product
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
